{% load i18n %}
<li>
  <a href="{% url 'account' %}">
    <i class="mdi-action-account-box left"></i>
    {{ user.get_full_name }}
  </a>
</li>
{# language_switcher #}
{% get_language_info_list for LANGUAGES as languages %}
{% for language in languages %}
  {% if not language.code == LANGUAGE_CODE %}
    <li>
      <form action="{% url 'set_language' %}" method="post" class="language-switch-form">
        {% csrf_token %}
        <input name="next" type="hidden" value="{{ request.get_full_path }}" />
        <input name="language" type="hidden" value="{{ language.code }}" />
        <a href="#" onclick="switchLanguage(this.parentElement);">
          <i class="mdi-action-language left"></i>
          {{ language.code|upper }}
        </a>
      </form>
    </li>
  {% endif %}
{% endfor %}
{# end language_switcher #}
<li>
  <a href="{% url 'logout' %}">
    <i class="mdi-action-exit-to-app left"></i>
    {% trans "logout" %}
  </a>
</li>