{% load trans from i18n %}
{% spaceless %}
<!doctype html>
<html ng-app="app">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no"/>

    <title>{% block page_title %}PES Matchplan{% endblock %}</title>

    <link href='https://fonts.googleapis.com/css?family=Roboto+Condensed:400,300,700' rel='stylesheet' type='text/css'>
    <link type="text/css" rel="stylesheet" href="{{ STATIC_URL }}css/materialize{% if not debug %}.min{% endif %}.css" media="screen,projection"/>
    <link type="text/css" rel="stylesheet" href="{{ STATIC_URL }}css/animate{% if not debug %}.min{% endif %}.css" media="screen,projection"/>
    <link type="text/css" rel="stylesheet" href="{{ STATIC_URL }}css/styles.css?v={{ CSS_TIMESTAMP }}" media="screen,projection"/>
  </head>
  <body>
    {% block body %}

      {% block header %}
        <nav role="navigation">
          <div class="container">
            <div class="nav-wrapper">
              <a href="/#/" class="logo">PES Matchplan</a>
              {% if user.is_authenticated %}
                <ul class="right hide-on-med-and-down">
                  {% include "_nav_items.html" %}
                </ul>
                <ul id="nav-mobile" class="side-nav">
                  {% include "_nav_items.html" %}
                </ul>
                <a href="#" data-activates="nav-mobile" class="button-collapse right">
                  <i class="mdi-navigation-menu"></i>
                </a>
              {% endif %}
            </div>
          </div>
        </nav>
      {% endblock header %}

      {% block content %}
        <div class="container">
          <div ng-view></div>
        </div>
      {% endblock content %}

      <script src="{{ STATIC_URL }}js/vendor/jquery{% if not debug %}.min{% endif %}.js"></script>
      <script src="{{ STATIC_URL }}js/vendor/materialize{% if not debug %}.min{% endif %}.js"></script>

      <script>
        (function($){
          $(function(){
            $('.button-collapse').sideNav({
              edge: 'right'
            });
          });
        })(jQuery);
      </script>

      <script>
        // language switcher
        var switchLanguage = function (form) {
          var $next = $(form).find('input[name="next"]');
          $next.val($next.val() + window.location.hash);
          form.submit();
          return false;
        };
      </script>

      {% block app_scripts %}
        <script type="text/javascript" src="{% url 'project.views.cached_javascript_catalog' %}"></script>
        {% if user.is_authenticated %}
          <script src="{{ STATIC_URL }}js/vendor/angular{% if not debug %}.min{% endif %}.js"></script>
          <script src="{{ STATIC_URL }}js/vendor/angular-cookies{% if not debug %}.min{% endif %}.js"></script>
          <script src="{{ STATIC_URL }}js/vendor/angular-route{% if not debug %}.min{% endif %}.js"></script>
          <script src="{{ STATIC_URL }}js/vendor/moment-with-locales{% if not debug %}.min{% endif %}.js"></script>
          <script src="{{ STATIC_URL }}js/vendor/jquery.sortable{% if not debug %}.min{% endif %}.js"></script>
          <script src="{{ STATIC_URL }}js/vendor/sockjs{% if not debug %}.min{% endif %}.js"></script>

          <script src="{{ STATIC_URL }}js/app{% if not debug %}.min{% endif %}.js?v={{ JS_TIMESTAMP }}"></script>
          <script src="{{ STATIC_URL }}js/scheduler{% if not debug %}.min{% endif %}.js"></script>

          <script>
            {% if debug %}
              var DEBUG = true;
            {% endif %}
            var user_id = {{ user.pk }};
            moment.locale('{{ LANGUAGE_CODE }}');
          </script>

          {% include "angular/_dashboard.html" %}
          {% include "angular/_event_list.html" %}
          {% include "angular/_event_detail.html" %}

        {% endif %}
      {% endblock app_scripts %}

    {% endblock body %}
  </body>
</html>
{% endspaceless %}