{% load trans from i18n %}

<script type="text/ng-template" id="dashboard.html">
  <div class="dashboard">
    <h4>{% trans "Dashboard" %}</h4>

    <section class="dshbrd-events">

      <a href="/#/events">
        <h5 class="headline z-depth-1">
          <i class="mdi-navigation-arrow-forward left"></i>
          {% trans "events" %}
        </h5>
      </a>

      <div ng-class="{card: true, animated: event.entrance, flash: event.entrance}"
           ng-repeat="event in events | orderBy: '-start'">
        <div class="card-content">
          {% verbatim %}
          <h5>{{ event.title }}</h5>
          <p class="secondary">
            {{ event.start|moment:'LLL' }} ·
            {{ event.i18n_status }} ·
            {{ event.players.length }} {% endverbatim %}{% trans "players" %}{% verbatim %} ·
            {{ event.event_games.length }} {% endverbatim %}{% trans "games" %}{% verbatim %}
          </p>
        </div>
        <div class="card-action">
          <a href="/#/events/{{ event.id }}/" class="more">
            <i class="mdi-navigation-arrow-forward left"></i>
            {% endverbatim %}{% trans "detail" %}
          </a>
        </div>
      </div>

      <div ng-hide="events_loaded">
        {% include "_loader.html" %}
      </div>

      <div ng-show="events_loaded && !events.length" class="col s12 empty center-align">
        <i class="secondary">{% trans "No events" %}</i>
      </div>

    </section>

    <section class="dshbrd-games">

      {% comment %}
      <a href="/#/games/">
        <h5 class="headline">
          <i class="mdi-navigation-arrow-forward left"></i>
          {% trans "games" %}
        </h5>
      </a>
      {% endcomment %}
      <h5 class="headline z-depth-1">{% trans "latest games" %}</h5>

      <div class="row">
        <div class="col s12 game" ng-repeat="game in games | orderBy: '-id'">
          {% verbatim %}
            <div ng-class="{card: true, animated: game.entrance, flash: game.entrance}">
              <div class="card-content">
                <i class="mdi-navigation-more-vert right activator secondary"></i></span>
                <span class="secondary title">
                  {{ game.event.title }} #{{ game.number }}
                </span>

                <div class="row home">
                  <div class="col s12">
                    <div ng-show="game.players_home.length">
                      <span class="player" ng-repeat="player in game.players_home">
                        <span class="number">#{{ player.number }}</span>
                        <span class="user-badge" title="{{ player.user.user_name }}">
                          {{ player.user.initials }}
                        </span>
                      </span>
                    </div>
                    <h5>
                      <span ng-show="game.team_home">{{ game.team_home }}</span>
                      <span ng-hide="game.team_home" class="secondary">
                        {% endverbatim %}{% trans "Team Home" %}{% verbatim %}
                      </span>
                      <span class="secondary power" ng-show="game.power_home">({{ game.power_home }})</span>
                      <span class="right-align right score">{{ game.score_home }}</span>
                    </h5>
                  </div>
                </div>

                <div class="row away">
                  <div class="col s12">
                    <h5>
                      <span ng-show="game.team_away">{{ game.team_away }}</span>
                      <span ng-hide="game.team_away" class="secondary">
                        {% endverbatim %}{% trans "Team Away" %}{% verbatim %}
                      </span>
                      <span class="secondary power" ng-show="game.power_away">({{ game.power_away }})</span>
                      <span class="right-align right score">{{ game.score_away }}</span>
                    </h5>
                    <div ng-show="game.players_away.length">
                      <span class="player" ng-repeat="player in game.players_away">
                        <span class="number">#{{ player.number }}</span>
                        <span class="user-badge" title="{{ player.user.user_name }}">
                          {{ player.user.initials }}
                        </span>
                      </span>
                    </div>
                  </div>
                </div>
              </div>

              <div class="card-action">
                <a href="/#/events/{{ game.event.id }}/" class="more">
                  <i class="mdi-navigation-arrow-forward left"></i>
                  {% endverbatim %}{% trans "event" %}{% verbatim %}
                </a>
              </div>

              <div class="card-reveal">
                <h5 class="card-title">
                  {% endverbatim %}{% trans "game details" %}{% verbatim %}
                  <i class="mdi-navigation-close right"></i>
                </h5>
                <ul class="collection">
                  <li class="collection-item">
                    <div>
                      {% endverbatim %}{% trans "power factor" %}{% verbatim %}
                      <span class="secondary-content">{{ game.power_factor | to_fixed: 2 }}</span>
                    </div>
                  </li>
                  <li class="collection-item">
                    <div>
                      {% endverbatim %}{% trans "score factor" %}{% verbatim %}
                      <span class="secondary-content">{{ game.score_factor | to_fixed: 2 }}</span>
                    </div>
                  </li>
                  <li class="collection-item">
                    <div>
                      {% endverbatim %}{% trans "points" %}{% verbatim %} {{ game.team_home }}
                      <span class="secondary-content">{{ game.points_home | to_fixed: 2 }}</span>
                    </div>
                  </li>
                  <li class="collection-item" ng-show="game.event.score_factor_enabled">
                    <div>
                      {% endverbatim %}{% trans "points" %}{% verbatim %} {{ game.team_away }}
                      <span class="secondary-content">{{ game.points_away | to_fixed: 2 }}</span>
                    </div>
                  </li>
                </ul>
              </div>
            </div>
          {% endverbatim %}
        </div>

        <div ng-hide="games_loaded">
          {% include "_loader.html" %}
        </div>

        <div ng-show="games_loaded && !games.length" class="col s12 game empty center-align">
          <i class="secondary">{% trans "No games" %}</i>
        </div>
      </div>

    <section>

  </div>

</script>