{% load trans from i18n %}

<script type="text/ng-template" id="event_detail.html">

  <div class="event" ng-show="event">


    {% comment %}
    <a href="/#/events">
      <h6><i class="mdi-navigation-arrow-back left"></i>{% trans "Events" %}</h6>
    </a>
    {% endcomment %}

    <h5 class="headline z-depth-1">{% trans "event" %}</h5>

    <div ng-class="{card: true, animated: event.entrance, flash: event.entrance}">
      <div class="card-content">
        {% verbatim %}
        <h5>{{ event.title }}</h5>
        <p class="secondary">
          {{ event.start|moment:'LLL' }} ·
          {{ event.i18n_status }} ·
          {{ event.players.length }} {% endverbatim %}{% trans "players" %}{% verbatim %} ·
          {{ event.event_games.length }} {% endverbatim %}{% trans "games" %}{% verbatim %}
        </p>
        {% endverbatim %}
      </div>

      <div class="card-action">
        <a class="left" ng-click="openModal('#event-form')" title="{% trans "Edit event" %}">
          <span class="hide-on-small-only" ng-show="event.owner === user_id">
            <i class="mdi-content-create tiny left"></i>{% trans "edit" %}
          </span>
          <span class="hide-on-med-and-up" ng-show="event.owner === user_id">
            <i class="mdi-content-create small"></i>
          </span>
          <span class="hide-on-small-only" ng-hide="event.owner === user_id">
            <i class="mdi-action-visibility tiny left"></i>{% trans "view" %}
          </span>
          <span class="hide-on-med-and-up" ng-hide="event.owner === user_id">
            <i class="mdi-action-visibility small"></i>
          </span>
        </a>
        <a class="delete right" ng-click="openModal('#event-delete')" title="{% trans "Delete event" %}"
           ng-show="event.owner === user_id">
          <span class="hide-on-small-only">
            <i class="mdi-action-delete tiny left"></i>{% trans "delete" %}
          </span>
          <span class="hide-on-med-and-up">
            <i class="mdi-action-delete small"></i>
          </span>
        </a>
      </div>
    </div>

    <h5 class="headline z-depth-1">{% trans "games" %}</h5>
    <div class="row">
      {% verbatim %}
      <div class="col s12 game" id="game-{{ game.number }}"
        ng-repeat="game in games | orderBy:'number' track by $index">
        <div ng-class="{card: true, animated: game.entrance, flash: game.entrance}">
          <div class="card-content">
            <i class="mdi-navigation-more-vert right activator secondary"></i></span>
            <span class="secondary title">
              {% endverbatim %}
              <i class="mdi-action-schedule left" ng-show="game.status == 'scheduled'"
                title="{% trans "scheduled" %}"></i>
              <i class="mdi-action-alarm-on left" ng-show="game.status == 'running'"
                title="{% trans "running" %}"></i>
              <i class="mdi-action-done left" ng-show="game.status == 'finished'"
                title="{% trans "finished" %}"></i>
              {% verbatim %}
              {{ event.title }} #{{ game.number }}
            </span>

            <div class="row home">
              <div class="col s12">
                <div ng-show="game.players_home.length">
                  <span class="player" ng-repeat="player in game.players_home | get_player_objects: event.players"
                    ng-show="game.players_home.length">
                    <span class="number">#{{ player.number }}</span>
                    <span class="user-badge" title="{{ player.user.user_name }}">
                      {{ player.user.initials }}
                    </span>
                  </span>
                </div>
                <h5>
                  <span ng-show="game.team_home">{{ game.team_home }}</span>
                  <span ng-hide="game.team_home" class="secondary">
                    {% endverbatim %}{% trans "Team Home" %}{% verbatim %}
                  </span>
                  <span class="secondary power" ng-show="game.power_home">({{ game.power_home }})</span>
                  <span class="right-align right score">{{ game.score_home }}</span>
                </h5>
              </div>
            </div>

            <div class="row away">
              <div class="col s12">
                <h5>
                  <span ng-show="game.team_away">{{ game.team_away }}</span>
                  <span ng-hide="game.team_away" class="secondary">
                    {% endverbatim %}{% trans "Team Away" %}{% verbatim %}
                  </span>
                  <span class="secondary power" ng-show="game.power_away">({{ game.power_away }})</span>
                  <span class="right-align right score">{{ game.score_away }}</span>
                </h5>
                <div ng-show="game.players_away.length">
                  <span class="player" ng-repeat="player in game.players_away | get_player_objects:event.players"
                    ng-show="game.players_away.length">
                    <span class="number">#{{ player.number }}</span>
                    <span class="user-badge" title="{{ player.user.user_name }}">
                      {{ player.user.initials }}
                    </span>
                  </span>
                </div>
              </div>
            </div>
          </div>

          {% endverbatim %}
          <div class="card-action">
            <a class="left" ng-click="editGame(game)" title="{% trans "Edit game" %}">
              <span class="hide-on-small-only">
                <i class="mdi-content-create tiny left"></i>{% trans "edit" %}
              </span>
              <span class="hide-on-med-and-up">
                <i class="mdi-content-create small"></i>
              </span>
            </a>
            <a class="left" ng-click="scoreGame(game)" title="{% trans "score" %}">
              <span class="hide-on-small-only">
                <i class="mdi-action-done tiny left"></i>{% trans "score" %}
              </span>
              <span class="hide-on-med-and-up">
                <i class="mdi-action-done small"></i>
              </span>
            </a>
            <a class="delete right" ng-click="deleteGameModal(game)" title="{% trans "Delete game" %}">
              <span class="hide-on-small-only">
                <i class="mdi-action-delete tiny left"></i>{% trans "delete" %}
              </span>
              <span class="hide-on-med-and-up">
                <i class="mdi-action-delete small"></i>
              </span>
            </a>
          </div>
          {% verbatim %}

          <div class="card-reveal">
            <h5 class="card-title">
              {% endverbatim %}{% trans "game details" %}{% verbatim %}
              <i class="mdi-navigation-close right"></i>
            </h5>
            <ul class="collection">
              <li class="collection-item">
                <div>
                  {% endverbatim %}{% trans "power factor" %}{% verbatim %}
                  <span class="secondary-content">{{ game.power_factor | to_fixed: 2 }}</span>
                </div>
              </li>
              <li class="collection-item">
                <div>
                  {% endverbatim %}{% trans "score factor" %}{% verbatim %}
                  <span class="secondary-content">{{ game.score_factor | to_fixed: 2 }}</span>
                </div>
              </li>
              <li class="collection-item">
                <div>
                  {% endverbatim %}{% trans "points" %}{% verbatim %} {{ game.team_home || gettext('Team Home') }}
                  <span class="secondary-content">{{ game.points_home | to_fixed: 2 }}</span>
                </div>
              </li>
              <li class="collection-item" ng-show="event.score_factor_enabled">
                <div>
                  {% endverbatim %}{% trans "points" %}{% verbatim %} {{ game.team_away || gettext('Team Away') }}
                  <span class="secondary-content">{{ game.points_away | to_fixed: 2 }}</span>
                </div>
              </li>
            </ul>
          </div>
        </div>
      </div>
      {% endverbatim %}

      <div ng-hide="games_loaded">
        {% include "_loader.html" %}
      </div>

      <div ng-show="games_loaded && !games.length" class="col s12 game empty">
        <i class="secondary">{% trans "No games" %}</i>
      </div>

    </div>

    <footer>
      <div class="wrapper">
        <nav class="z-depth-3">
          <ul>
            <li>
              <a title="{% trans "add one game" %}" ng-click="editGame(new_game)">
                <i class="mdi-content-add left small"></i>
                <span class="hide-on-large-only">1</span>
                <span class="hide-on-med-and-down">
                  {% trans "one game" %}
                </span>
              </a>
            </li>
            <li ng-show="event.players.length > 1">
              <a title="{% trans "add game round for players" %}" ng-click="openModal('#game-round');">
                <i class="mdi-content-add small left"></i>
                <i class="mdi-action-cached small hide-on-large-only"></i>
                <span class="hide-on-med-and-down">
                  {% trans "game round" %}
                </span>
              </a>
            </li>
            <li ng-show="games.length">
              <a title="{% trans "jump to next game" %}" ng-click="scrollToNextGame();">
                <i class="mdi-av-skip-next small left"></i>
                <span class="hide-on-med-and-down">
                  {% trans "next game" %}
                </span>
              </a>
            </li>

            <li class="right" ng-show="event.players.length > 1">
              <a onclick="$('.standings').toggleClass('show'); $(this).parent().toggleClass('active');"
                 title="{% trans "show standings" %}">
                <span class="hide-on-med-and-down">
                  <i class="mdi-action-list small left"></i>
                  {% trans "standings" %}
                </span>
                <i class="mdi-action-list small hide-on-large-only"></i>
              </a>
            </li>
          </ul>
        </nav>

        <div class="standings z-depth-3" ng-show="event.players.length > 1">
          <div class="row">
            <div class="col s12">
              <table class="hoverable">
                <thead>
                  <tr>
                    <th class="center">{% trans "pos" %}</th>
                    <th>{% trans "name" %}</th>
                    <th class="center upper">{% trans "gp" %}</th>
                    <th class="center">{% trans "w" %}</th>
                    <th class="center">{% trans "d" %}</th>
                    <th class="center">{% trans "l" %}</th>
                    <th class="center">{% trans "goals" %}</th>
                    <th class="right">{% trans "points" %}</th>
                  </tr>
                </thead>
                <tbody>
                  {% verbatim %}
                    <tr ng-repeat="player in event.players | standings track by $index">
                      <td class="center">{{ $index+1 }}</td>
                      <td>{{ player.user.user_name }}</td>
                      <td class="secondary center">{{ player.finished_games }}</td>
                      <td class="secondary center">{{ player.wins }}</td>
                      <td class="secondary center">{{ player.draws }}</td>
                      <td class="secondary center">{{ player.losses }}</td>
                      <td class="secondary center">
                        {{ player.scores_for }}:{{ player.scores_against }}
                      </td>
                      <td class="right">
                        <span ng-show="event.score_factor_enabled || event.power_factor_enabled">
                          {{ player.points | to_fixed: 2 }}
                        </span>
                        <span ng-hide="event.score_factor_enabled || event.power_factor_enabled">
                          {{ player.points }}
                        </span>
                      </td>
                    </tr>
                  {% endverbatim %}
                </tbody>
              </table>
            </div>
          </div>
        </div>
      </div>
    </footer>

  </div>

  <div id="event-form" class="modal">
    <div class="modal-content">
    <i class="mdi-navigation-close small right" title="{% trans "close" %}" ng-click="closeModal('#event-form');"></i>
      <h4>{% trans "Edit event" %}</h4>
      {% include "angular/_event_form.html" %}
    </div>
  </div>

  <div id="event-delete" class="modal">
    <div class="modal-content">
      <i class="mdi-navigation-close small right" title="{% trans "close" %}" ng-click="closeModal('#event-delete');"></i>
      <h4>{% trans "Delete event" %}</h4>
      <p>
        {% trans "Are you sure you want to delete this event?" %}
      </p>
      {% verbatim %}
        <p class="object">{{ event.title }}</p>
      {% endverbatim %}
      <footer>
        <button type="button" class="btn waves-effect waves-light right delete" ng-click="delete('#event-delete')">
          <i class="mdi-action-delete left" ng-hide="syncing"></i>
          <i class="mdi-notification-sync left animated infinite flash" ng-show="syncing"></i>
          {% trans "Delete" %}
        </button>
      </footer>
    </div>
  </div>

  <div id="game-form" class="modal">
    <div class="modal-content">
      <i class="mdi-navigation-close small right" title="{% trans "close" %}" ng-click="closeModal('#game-form');"></i>
      <h4 ng-show="game.id">{% trans "edit game" %}</h4>
      <h4 ng-hide="game.id">{% trans "add game" %}</h4>
      {% include "angular/_game_form.html" %}
    </div>
  </div>

  <div id="score-form" class="modal">
    <div class="modal-content">
      <i class="mdi-navigation-close small right" title="{% trans "close" %}" ng-click="closeModal('#score-form');"></i>
      <h4>{% trans "game score" %}</h4>
      {% include "angular/_score_form.html" %}
    </div>
  </div>

  <div id="game-delete" class="modal">
    <div class="modal-content">
      <i class="mdi-navigation-close small right" title="{% trans "close" %}" ng-click="closeModal('#game-delete');"></i>
      <h4>{% trans "Delete game" %}</h4>
      <p>
        {% trans "Are you sure you want to delete this game?" %}
      </p>
      {% verbatim %}
        <p class="object">
          {{ event.title }} {{ game.title }}
        </p>
      {% endverbatim %}
      <footer>
        <button type="button" class="btn waves-effect waves-light right delete" ng-click="deleteGame()">
          <i class="mdi-action-delete left" ng-hide="syncing"></i>
          <i class="mdi-notification-sync left animated infinite flash" ng-show="syncing"></i>
          {% trans "Delete" %}
        </button>
      </footer>
    </div>
  </div>

  <div id="game-round" class="modal">
    <div class="modal-content">
      <i class="mdi-navigation-close small right" title="{% trans "close" %}" ng-click="closeModal('#game-round');"></i>
      <h4>{% trans "Add game round" %}</h4>
      {% include "angular/_game_round.html" %}
    </div>
  </div>

</script>
