{% load trans from i18n %}

<script type="text/ng-template" id="event_list.html">

  <div class="events">

    <h5 class="headline z-depth-1">
      <a class="btn-floating waves-effect waves-light right modal-trigger"
         ng-click="openModal('#event-form')" title="{% trans "Add event" %}">
        <i class="mdi-content-add"></i>
      </a>
      {% trans "events" %}
    </h5>

    <div ng-class="{card: true, animated: event.entrance, flash: event.entrance}"
         ng-repeat="event in events | orderBy: '-start'">
      <div class="card-content">
        {% verbatim %}
        <h5>{{ event.title }}</h5>
        <p class="secondary">
          {{ event.start|moment:'LLL' }} ·
          {{ event.i18n_status }} ·
          {{ event.players.length }} {% endverbatim %}{% trans "players" %}{% verbatim %} ·
          {{ event.event_games.length }} {% endverbatim %}{% trans "games" %}{% verbatim %}
        </p>
      </div>
      <div class="card-action">
        <a href="/#/events/{{ event.id }}/" class="more">
          <i class="mdi-navigation-arrow-forward left"></i>
          {% endverbatim %}{% trans "detail" %}
        </a>
      </div>
    </div>

    <div ng-hide="events_loaded">
      {% include "_loader.html" %}
    </div>

    <div ng-show="events_loaded && !events.length" class="col s12 empty center-align">
      <i class="secondary">{% trans "No events" %}</i>
    </div>

    <div class="center-align" ng-show="next">
      <a href="{{ next }}" ng-click="loadEvents(next)">
        {% trans "more" %}<br />
        <i class="mdi-navigation-expand-more"></i>
      </a>
    </div>

  </div>

  <div id="event-form" class="modal">
    <div class="modal-content">
      <i class="mdi-navigation-close small right" title="{% trans "close" %}" ng-click="closeModal('#event-form');"></i>
      <h4>{% trans "Create event" %}</h4>
      {% include "angular/_event_form.html" %}
    </div>
  </div>
</script>