{% load trans from i18n %}

<form accept-charset="utf-8" ng-submit="save()" class="row form" name="event-form">

  <div class="col s12">
    <div class="col s12">
      <p>
        <label for="id_title">{% trans "title" %}</label>
        <input id="id_title" type="text" ng-model="event.title" required
               ng-disabled="event.id && event.owner !== user_id" />
      </p>
    </div>
  </div>

  <div class="col s12 m6">

    <div class="col s6 m12 l6">
      <div class="switch">
        <p class="center-align">
          <label>
            <input type="checkbox" ng-model="event.power_factor_enabled"
                   ng-disabled="event.id && event.owner !== user_id">
            <span class="lever"></span>
            {% trans "power factor?" %}
          </label>
        </p>
      </div>
    </div>

    <div class="col s6 m12 l6">
      <div class="switch">
        <p class="center-align">
          <label>
            <input type="checkbox" ng-model="event.score_factor_enabled"
                   ng-disabled="event.id && event.owner !== user_id">
            <span class="lever"></span>
            {% trans "score factor?" %}
          </label>
        </p>
      </div>
    </div>
  </div>

  <div class="col s12 m6">

    <div class="col s4 center">
      <p>
        <label for="id_points_win">{% trans "points for win" %}</label>
        <input type="number" min="1" ng-model="event.points_win" required
               ng-disabled="event.id && event.owner !== user_id" />
      </p>
    </div>

    <div class="col s4 center">
      <p>
        <label for="id_points_draw">{% trans "points for draw" %}</label>
        <input type="number" min="0" ng-model="event.points_draw" required
               ng-disabled="event.id && event.owner !== user_id"/>
      </p>
    </div>

    <div class="col s4 center">
      <p>
        <label for="id_points_loss">{% trans "points for loss" %}</label>
        <input type="number" min="0" ng-model="event.points_loss" required
               ng-disabled="event.id && event.owner !== user_id" />
      </p>
    </div>

  </div>

  <div class="col s12">
    <div class="col s12 m6 center">
      <p>
        <label for="id_start">{% trans "start" %}</label>
        <input type="datetime-local" ng-model="event.start" required
               id="id_start" ng-disabled="event.id && event.owner !== user_id" />
      </p>
    </div>
    <div class="col s12 m6 center">
      <p>
        <label>{% trans "Game database" %}</label>
        <select ng-model="event.game_database"
                ng-disabled="event.id && event.owner !== user_id">
          <option value=""></option>
          {% for key, name in GAME_DATABASES %}
            <option value="{{ key }}">{{ name }}</option>
          {% endfor %}
        </select>
      </p>
    </div>
  </div>

  <div class="col s12">
    <div class="col s12">
      {% trans "Players" %}
      <ul class="collection sortable" ng-show="event.players.length">
        {% verbatim %}
        <li class="player collection-item" ng-repeat="player in event.players | orderBy: 'number'" data-id="{{ player.user.id }}">
          <span class="number secondary">#{{ player.number }}</span>
          <span>{{ player.user.user_name }}</span>
          <a class="secondary-content" ng-hide="event.id && event.owner !== user_id">
            <i class="mdi-content-remove-circle-outline" ng-click="removePlayer(player)"></i>
          </a>
        </li>
        {% endverbatim %}
      </ul>
      <p ng-hide="event.players.length">
        <i>{% trans "No players" %}</i>
      </p>
      <div ng-show="available_users.length && ((event.id && event.owner === user_id) || !event.id)">
        <label>{% trans "Add player" %}</label>
        <select ng-change="addPlayer()" ng-model="new_player">
          {% verbatim %}
            <option value="{{ user.id }}" ng-repeat="user in available_users | orderBy: 'user_name'">{{ user.user_name }}</option>
          {% endverbatim %}
        </select>
      </div>
    </div>
  </div>

  <div class="col s12" ng-hide="event.id && event.owner !== user_id">
    <p class="center-align">
      <button type="submit" class="btn">
        <i class="mdi-action-done left" ng-hide="syncing"></i>
        <i class="mdi-notification-sync left animated infinite flash" ng-show="syncing"></i>
        {% trans "save" %}
      </button>
    </p>
  </div>

</form>
