
{% load trans from i18n %}

<form ng-submit="generateGameRound()" class="form row">
  <div class="col s12 m6">
    <h5>{% trans "Type" %}</h5>
    <p>
      <input type="radio" name="round" ng-model="round_type" value="single" id="id_round_single" ng-checked="true" />
      <label for="id_round_single">{% trans "Single round" %}</label>
    </p>
    <p>
      <input type="radio" name="round" ng-model="round_type" value="double" id="id_round_double" />
      <label for="id_round_double">{% trans "Double round" %} ({% trans "home & away" %})</label>
    </p>

    <p>
      <input type="checkbox" ng-model="mirrored" id="id_mirrored" />
      <label for="id_mirrored" class="checkbox">{% trans "Mirrored" %}?</label>
    </p>

    <p>
      <input type="checkbox" ng-model="reverse" id="id_reversed" />
      <label for="id_reversed" class="checkbox">{% trans "Reverse" %}?</label>
    </p>
  </div>

  <div class="col s12 m6">
    <h5>{% trans "Modus" %}</h5>
    <p>
      <input type="radio" name="modus" ng-model="modus" value="1vs1" id="id_modus_one" />
      <label for="id_modus_one">1 vs. 1</label>
    </p>
    <p ng-show="event.players.length > 3">
      <input type="radio" name="modus" ng-model="modus" value="2vs2" id="id_modus_two" />
      <label for="id_modus_two">2 vs. 2</label>
    </p>
  </div>

  <div class="col s12">
    <p class="center-align">
      <button type="submit" class="btn waves-effect waves-light">
        <i class="mdi-action-settings-backup-restore left"></i>
        {% trans "Generate" %}
      </button>
    </p>
  </div>

  <div class="col s12" ng-show="new_games.length">
    <h5>{{ new_games.length }} {% trans "new games" %}</h5>

    <ul class="collection">
      <li ng-repeat="game in new_games" class="collection-item game">
        {% verbatim %}
          <span class="number secondary">#{{ game.number }}</span>
          <div class="players">
            <span ng-repeat="player in game.players_home | get_player_objects: event.players" class="players">
              #{{ player.number }} {{ player.user.user_name }}
            </span>
            <span class="vs secondary">vs.</span>
            <span ng-repeat="player in game.players_away | get_player_objects: event.players" class="players">
              #{{ player.number }} {{ player.user.user_name }}
            </span>
          </div>
        {% endverbatim %}
      </li>
    </ul>
  </div>

  <div class="col s12">
    <p class="center-align" ng-show="new_games.length">
      <button type="button" class="btn waves-effect waves-light" ng-click="addGameRound();">
        <i class="mdi-action-done left" ng-hide="syncing"></i>
        <i class="mdi-notification-sync left animated infinite flash" ng-show="syncing"></i>
        {% trans "Add" %}
      </button>
    </p>
  </div>

</form>