{% load trans from i18n %}

<form accept-charset="utf-8" ng-submit="saveGame()" class="row form" name="game-form">

  <div class="col s12 m6">

    <h5>{% trans "Team Home" %}</h5>

    <div class="col s12">
      {% verbatim %}
      <ul class="collection" ng-show="game.players_home.length">
        <li class="collection-item" ng-repeat="player in game.players_home | get_player_objects:event.players | orderBy: 'number'">
          <span class="secondary">#{{ player.number }}</span>
          <span class="name">{{ player.user.user_name }}</span>
          <a class="secondary-content">
            <i class="mdi-content-remove-circle-outline" ng-click="removeGamePlayer(player)"></i>
          </a>
        </li>
      </ul>
      {% endverbatim %}

      <p ng-hide="game.players_home.length + game.players_away.length == event.players.length">
        <label>{% trans "Add player" %}</label>
        <select ng-change="addGamePlayer('home')" ng-model="new_home_player">
          {% verbatim %}
            <option value="{{ player.id }}" ng-repeat="player in event.players | get_unassigned_players:game | orderBy: 'user.user_name'">
              {{ player.user.user_name }}
            </option>
          {% endverbatim %}
        </select>
      </p>
    </div>

    <div class="col s12" ng-hide="event.power_factor_enabled">
      <label for="id_home_team">{% trans "team" %}</label>
      <input type="text" ng-model="game.team_home" required id="id_home_team" list='teams'
        ng-keyup="searchTeam('team_home')" ng-change="applyTeam('home')"
        ng-blur="teams = []; last_search = '';" />
    </div>

    <div class="col s8" ng-show="event.power_factor_enabled">
      <label for="id_home_team">{% trans "team" %}</label>
      <input type="text" ng-model="game.team_home" required id="id_home_team" list='teams'
        ng-keyup="searchTeam('team_home')" ng-change="applyTeam('home')"
        ng-blur="teams = []; last_search = '';" />
    </div>

    <div class="col s4" ng-show="event.power_factor_enabled">
      <label for="id_home_team_power">{% trans "power" %}</label>
      <input type="number" ng-model="game.power_home" id="id_home_team_power" min="0" max="100" />
    </div>

  </div>


  <div class="col s12 m6">

    <h5>{% trans "Team Away" %}</h5>

    <div class="col s12">

      {% verbatim %}
      <ul class="collection" ng-show="game.players_away.length">
        <li class="collection-item" ng-repeat="player in game.players_away | get_player_objects:event.players | orderBy: 'number'">
          <span class="secondary">#{{ player.number }}</span>
          <span class="name">{{ player.user.user_name }}</span>
          <a class="secondary-content">
            <i class="mdi-content-remove-circle-outline" ng-click="removeGamePlayer(player)"></i>
          </a>
        </li>
      </ul>
      {% endverbatim %}

      <p ng-hide="game.players_home.length + game.players_away.length == event.players.length">
        <label>{% trans "Add player" %}</label>
        <select ng-change="addGamePlayer('away')" ng-model="new_away_player">
          {% verbatim %}
            <option value="{{ player.id }}" ng-repeat="player in event.players | get_unassigned_players:game | orderBy: 'user.user_name'">
              {{ player.user.user_name }}
            </option>
          {% endverbatim %}
        </select>
      </p>

    </div>

    <div class="col s12" ng-hide="event.power_factor_enabled">
      <label for="id_away_team">{% trans "team" %}</label>
      <input type="text" ng-model="game.team_away" required id="id_away_team" list='teams'
        ng-keyup="searchTeam('team_away')" ng-change="applyTeam('away')"
        ng-blur="teams = []; last_search = '';" />
    </div>

    <div class="col s8" ng-show="event.power_factor_enabled">
      <label for="id_away_team">{% trans "team" %}</label>
      <input type="text" ng-model="game.team_away" required id="id_away_team" list='teams'
        ng-keyup="searchTeam('team_away')" ng-change="applyTeam('away')"
        ng-blur="teams = []; last_search = '';" />
    </div>

    <div class="col s4" ng-show="event.power_factor_enabled">
      <label for="id_away_team_power">{% trans "power" %}</label>
      <input type="number" ng-model="game.power_away" id="id_away_team_power" min="0" max="100" />
    </div>

  </div>

  <div class="col s12">
    <div class="col s6 m4 l3">
      <label for="id_game_number">{% trans "Number" %}</label>
      <input type="number" min="1" ng-model="game.number" id="id_game_number" />
    </div>
  </div>


  <div class="col s12">

    <p class="center-align">
      <button type="submit" class="btn">
        <i class="mdi-action-done left" ng-hide="syncing"></i>
        <i class="mdi-notification-sync left animated infinite flash" ng-show="syncing"></i>
        {% trans "save" %}
      </button>
    </p>
  </div>

  <datalist id="teams">
    {% verbatim %}
      <option value="{{ team.name }}" ng-repeat="team in teams | orderBy: 'name'"
       label="{{ team | get_datalist_value: event.power_factor_enabled }}">
       {{ team | get_datalist_value: event.power_factor_enabled }}
     </option>
    {% endverbatim %}
  </datalist>

</form>
