{% load trans from i18n %}

<form method="post" accept-charset="utf-8" ng-submit="saveScore()" class="row form" name="score-form">

    <div class="col s12 m6">
      <h6 class="center secondary">{% trans "Team Home" %}</h5>
      {% verbatim %}
      <h5 ng-show="game.team_home" class="center-align">
        {{ game.team_home }}
      </h5>
      <h6 ng-repeat="player in game.players_home | get_player_objects: event.players" class="center-align">
        #{{ player.number }} {{ player.user.user_name }}
      </h6>
      {% endverbatim %}
      <div class="col s6 offset-s3">
        <input type="number" min="0" ng-model="game.score_home">
      </div>
    </div>

    <div class="col s12 m6">
      <h6 class="center secondary">{% trans "Team Away" %}</h6>
      {% verbatim %}
      <h5 ng-show="game.team_away" class="center-align">
        {{ game.team_away }}
      </h5>
      <h6 ng-repeat="player in game.players_away | get_player_objects: event.players" class="center-align">
        #{{ player.number }} {{ player.user.user_name }}
      </h6>
      {% endverbatim %}
      <div class="col s6 offset-s3">
        <input type="number" min="0" ng-model="game.score_away">
      </div>
    </div>

    <div class="col s12 m4 center-align">
      <input type="radio" name="status" ng-model="game.status" value="scheduled" id="status-scheduled" />
      <label for="status-scheduled">{% trans "scheduled" %}</label>
    </div>
    <div class="col s12 m4 center-align">
      <input type="radio" name="status" ng-model="game.status" value="running" id="status-running" />
      <label for="status-running">{% trans "running" %}</label>
    </div>
    <div class="col s12 m4 center-align">
      <input type="radio" name="status" ng-model="game.status" value="finished" id="status-finished" />
      <label for="status-finished">{% trans "finished" %}</label>
    </div>

    <div class="col s10 offset-s1">

    <p class="center-align">
      <button type="submit" class="btn">
        <i class="mdi-action-done left" ng-hide="syncing"></i>
        <i class="mdi-notification-sync left animated infinite flash" ng-show="syncing"></i>
        {% trans "save" %}
      </button>
    </p>
  </div>

</form>
