
@import "compass"

@import "variables"


html, body
  color: $primary-text
  height: 100%
  // font-family: 'Roboto Light'
  font-family: 'Roboto Condensed'
  font-weight: 300
  background-color: $background-color

a
  cursor: pointer

.errorlist, .error
  color: $red

.delete, .btn-floating.delete, .btn.delete
  background-color: $red

nav[role="navigation"]
  background: $dark-primary-color

.btn, .btn-floating
  background-color: $accent-color
  &:hover, &:active, &:focus
    background-color: $dark-accent-color

.card .card-title
  color: $primary-text

a, .card .card-action a, a.secondary-content
  color: $accent-color

.card .activator
  cursor: pointer

.secondary
  color: $secondary-text !important

.user-badge
  margin: .5rem
  padding: 1em
  border-radius: 100%
  background-color: $accent-color
  display: inline-block
  color: $text-color
  font-weight: 400
  cursor: default
  min-width: 25px
  min-height: 25px
  text-align: center

.divider
  color: $divider-color


.nav-wrapper
  .logo
    font-size: 1.25rem
    text-transform: uppercase

.modal
  background-color: $background-color
  h4
    margin-bottom: 2rem
  label
    color: $primary-text
  .mdi-navigation-close
    cursor: pointer
    color: $divider-color
    &:hover, &:active, &:focus
      color: $secondary-text

form.row
  .col
    margin: 1rem 0

input[type="number"]
  text-align: center

ul.tabs .indicator
  background-color: $accent-color

.loader
  margin: 1rem
  .progress
    background-color: $divider-color
    .indeterminate
      background-color: $secondary-text


// switch
.switch label
  .lever
    background-color: $secondary-text
  input[type=checkbox]:checked + .lever
    background-color: $divider-color
    &:after
      background-color: $secondary-text

// radio
[type="radio"]:checked + label:after
  background-color: $secondary-text
  border-color: $secondary-text


// toast/notification
.toast
  line-height: 2rem
  height: auto
  min-height: 48px


// dashboard
.dashboard

  section
    margin-top: 2rem
    &.dshbrd-events
      margin-top: 1rem

    .event
      .title
        font-size: 1.2rem
      a.secondary-content
        margin-top: .5rem

    .card-content .row
      margin-bottom: 0


h5.headline
  text-transform: capitalize
  background-color: $dark-primary-color
  color: $text-color
  padding: 1rem
  margin: 0

.empty
  margin: 1rem 0
  text-align: center

.game

  .card
    border: 2px solid transparent
    +transition-property(border-color)
    +transition-duration(.5s)

  &.highlight
    .card
      border-color: $accent-color


  .title
    margin-bottom: 1rem
    display: inline-block

  .row

    h5
      margin: 1rem 0

    &.home
      margin-bottom: 0
      border-bottom: 1px solid $divider-color

    .power
      font-size: 1.25rem
      margin-left: .5rem

    .score
      font-size: 2.36rem

    span.player
      font-size: .6rem
      display: inline-block
      background-color: #e0e0e0
      margin-right: 1rem
      border-top-right-radius: 100%
      border-bottom-right-radius: 100%
      .number
        padding: 0 .5em
      .user-badge
        margin: 0
        padding: .5em

  .card-reveal
    .collection-item
      padding: 8px 20px


// events
.events

  h5
    margin-top: 1.5rem
    position: relative
    a
      position: absolute
      right: 1rem
      top: 10px

  .collection
    margin-top: 2rem
    .event
      .title
        font-size: 1.2rem
      a.secondary-content
        margin-top: .5rem

.event

  margin-bottom: 64px

  h5
    margin-top: 1.5rem

  .card-action
    margin-bottom: 20px

  .delete
    margin-left: 1rem
    background-color: $white

  .row.away
    margin-bottom: 0

  footer
    position: fixed
    width: 100%
    bottom: 0
    left: 0
    background-color: $white
    z-index: 100

    div.wrapper
      width: 70%
      max-width: 1280px
      margin: 0 auto
      padding: 0 1.5rem
      nav
        background-color: $dark-primary-color

    .standings
      display: none
      padding: 20px
      &.show
        display: block
      .right
        font-weight: bold
      th
        text-transform: capitalize
        &.upper
          text-transform: uppercase

#event-delete, #game-delete

  .object
    font-weight: bold

  footer
    margin-top: 3rem

#event-form
  .collection
    .player
      .number
        margin-right: .5rem

  .sortable-placeholder
    height: 1rem
    padding: 1.5em
    // border: 1px dashed #26a69a
    background-color: #84c7c1

  .sortable-dragging
    border: 1px solid $accent-color

  input#id_start
    padding: 5px
    height: 3rem
    width: 100%
    border: 1px solid #f2f2f2

#game-form
  .collection-item
    span.name
      margin-left: .5rem

#score-form
  input[type="number"]
    text-align: center
    font-size: 2rem
    font-weight: bold

#game-round
  form
    label.checkbox:before
      margin-left: 4px

    .collection
      .collection-item.game
        .number
          margin-right: 1rem
          display: inline-block
        .players
          margin: .5rem 0
          text-align: center
          .vs
            display: block

.form
  select
    display: block
    background-color: $white


// accounts
.account form, .account article
  margin: 2rem 0


// responsive
@media (max-width: 1000px)  // medium

  .events
    h5
      a
        top: 8px

  .event
    footer
      div.wrapper
        width: 85%
        left: 7.5%

        nav ul li.right a
          padding: 0 30px


@media (max-width: 660px)

  .event
    .card-action
      a
        margin: .5rem


@media (max-width: 600px)  // small

  #score-form
    label
      width: 100px

  .event
    footer
      div.wrapper
        padding: 0
        width: 100%
        left: 0

    .game .card-action a.left:first-child
      margin-right: 2rem


@media (max-width: 430px)

  .event
    .game
      .card-action
        text-align: center
        a
          margin-left: 0


@media (max-width: 335px)

  .collection .collection-item
    padding: 5px 10px
    line-height: 1.2rem

  .event
    .card-action
      text-align: center
      a
        width: 100%
        display: block
        margin-left: 0
        margin-right: 0
        margin-bottom: 1rem
        .hide-on-small-only:not(.ng-hide)
          display: block !important
          i
            display: none

  .game .row .col
    text-align: center

    h5
      display: inline-block
      width: 100%
      .score
        display: inline-block
        width: 100%
        float: none
        text-align: center
        margin: 1rem 0 .5rem 0

    .card-action
      text-align: center
      a
        display: block
        margin-bottom: 1rem
        margin-right: 0
        .hide-on-small-only
          display: block !important
          i
            display: none

        &.left:first-child
          margin-right: 0

    footer
      nav ul a
        padding: 0 5px
