{% extends "accounts/base.html" %}

{% load trans from i18n %}

{% block content %}
  <div class="container account">
    <section class="row">
      <div class="card-panel col s12 m8 offset-m2">
        <form action="" method="post" accept-charset="utf-8"
          class="col s8 offset-s2">
          {% csrf_token %}
          {{ form.as_p }}
          <p class="center-align">
            <button type="submit" class="btn center">
              {% trans "submit" %}
            </button>
          </p>
        </form>
      </div>
    </section>
  </div>
{% endblock content %}