{% extends "accounts/base.html" %}

{% load trans from i18n %}

{% block content %}
  <div class="container account">
    <section class="row">
      <div class="card col s12 m8 offset-m2 center-align">
        <div class="card-content">
          <div class="user-badge">
            {{ user.first_name|first|upper }}{{ user.last_name|first|upper }}
          </div>
          <div class="card-title">{{ user.get_full_name }}</div>
          <p class="secondary">
            {{ user.email }}
          </p>
        </div>
        <div class="card-action">
          <p>
            <a href="{% url 'account_edit' %}">{% trans "Edit personal data" %}</a>
          </p>
          <p>
            <a href="{% url 'password_change' %}">{% trans "Change Password" %}</a>
          </p>
        </div>
      </div>
    </div>
    </section>
  </div>
{% endblock content %}