{% extends "accounts/base.html" %}

{% load trans from i18n %}

{% block content %}
  <div class="container account">
    <section class="row">
      <div class="card-panel col s12 m8 offset-m2">
        <form action="{% url 'login' %}" method="post" accept-charset="utf-8"
          class="col s8 offset-s2">
          {% csrf_token %}
          <input type="hidden" name="next" value="{{ request.REQUEST.next }}" />
          {{ form.as_p }}
          <p class="center-align">
            <button type="submit" class="btn center">
              {% trans "log in" %}
            </button>
          </p>
          <p class="center-align">
            <a href="{% url 'password_reset' %}">{% trans "Forgot password?" %}</a>
          </p>
        </form>
      </div>
    </section>
  </div>
{% endblock content %}