{% extends "accounts/base.html" %}

{% load trans from i18n %}

{% block content %}
  <div class="container account">
    <section class="row">
      <div class="card-panel col s12 m8 offset-m2">
      <form action="" method="post" accept-charset="utf-8"
        class="col s12 m8 offset-m2">
        {% csrf_token %}
        {{ form.as_p }}
        <p class="center-align">
          <button type="submit" class="btn center">
            {% trans "Change my password" %}
          </button>
        </p>
      </form>
    </section>
  </div>
  <script type="text/javascript">document.getElementById("id_old_password").focus();</script>
{% endblock content %}