{% extends "accounts/base.html" %}

{% load trans from i18n %}

{% block content %}
  <div class="container account">
    <section class="row">
      <div class="card-panel col s12 m8 offset-m2">
        <article class="col s12 m8 offset-m2 center-align">
          <p>
            {% trans "Your password has been set.  You may go ahead and log in now." %}
          </p>
          <p>
            <a href="{{ login_url }}">{% trans 'Log in' %}</a>
          </p>
        </article>
      </div>
    </section>
  </div>
{% endblock content %}