{% extends "accounts/base.html" %}

{% load trans from i18n %}

{% block content %}
  <div class="container account">
    <section class="row">
      <div class="card-panel col s12 m8 offset-m2">
        <article class="col s12 m8 offset-m2">
          {% if validlink %}
            <p>{% trans "Please enter your new password twice so we can verify you typed it in correctly." %}</p>
            <form action="" method="post">
              {% csrf_token %}
              {{ form.new_password1.errors }}
              <p class="aligned wide">
                <label for="id_new_password1">{% trans 'New password:' %}</label>
                {{ form.new_password1 }}
              </p>
              {{ form.new_password2.errors }}
              <p class="aligned wide">
                <label for="id_new_password2">{% trans 'Confirm password:' %}</label>
                {{ form.new_password2 }}
              </p>
              <p class="center-align">
                <button class="btn" type="submit">{% trans 'Change my password' %}</button>
              </p>
            </form>

          {% else %}

            <p>
              {% trans "The password reset link was invalid, possibly because it has already been used.  Please request a new password reset." %}
            </p>

          {% endif %}
        </article>
      </div>
    </section>
  </div>
{% endblock content %}