{% extends "accounts/base.html" %}

{% load trans from i18n %}

{% block content %}
  <div class="container account">
    <section class="row">
      <div class="card-panel col s12 m8 offset-m2">
        <article class="col s12 m8 offset-m2">
          <p>{% trans "We've emailed you instructions for setting your password. You should be receiving them shortly." %}</p>
          <p>
            {% trans "If you don't receive an email, please make sure you've entered the address you registered with, and check your spam folder." %}
          </p>
        </article>
    </section>
  </div>
{% endblock content %}