{% extends "accounts/base.html" %}

{% load trans from i18n %}

{% block content %}
  <div class="container account">
    <section class="row">
      <div class="card-panel col s12 m8 offset-m2">
        <article class="col s12 m8 offset-m2 center-align">
          <p>{% trans 'Your password was changed.' %}</p>
        </article>
      </div>
    </section>
  </div>
{% endblock content %}