{% load admin_static %}{% load firstof from future %}<!DOCTYPE html>
<html lang="{{ LANGUAGE_CODE|default:"en-us" }}" {% if LANGUAGE_BIDI %}dir="rtl"{% endif %}>
<head>
  <title>{% block title %}{% endblock %}</title>
  <link rel="stylesheet" type="text/css" href="{% block stylesheet %}{% static "admin/css/base.css" %}{% endblock %}" />
  {% block extrastyle %}{% endblock %}
  <!--[if lte IE 7]><link rel="stylesheet" type="text/css" href="{% block stylesheet_ie %}{% static "admin/css/ie.css" %}{% endblock %}" /><![endif]-->
  {% if LANGUAGE_BIDI %}<link rel="stylesheet" type="text/css" href="{% block stylesheet_rtl %}{% static "admin/css/rtl.css" %}{% endblock %}" />{% endif %}
  <script type="text/javascript">window.__admin_media_prefix__ = "{% filter escapejs %}{% static "admin/" %}{% endfilter %}";</script>
  <script type="text/javascript">window.__admin_utc_offset__ = "{% filter escapejs %}{% now "Z" %}{% endfilter %}";</script>
  {% block extrahead %}{% endblock %}
  {% block blockbots %}<meta name="robots" content="NONE,NOARCHIVE" />{% endblock %}
  <style type="text/css" media="screen">
    .language-switch-form {display: inline;}
    .language-switch-form button {border: none; background: none; cursor: pointer;}
  </style>
</head>
{% load i18n %}

<body class="{% if is_popup %}popup {% endif %}{% block bodyclass %}{% endblock %}">

  <!-- Container -->
  <div id="container">

    {% if not is_popup %}
    <!-- Header -->
    <div id="header">
      <div id="branding">
        {% block branding %}{% endblock %}
      </div>
      {% if user.is_active and user.is_staff %}
      <div id="user-tools">
        {% block welcome-msg %}
        {% trans 'Welcome,' %}
        <strong>{% firstof user.get_short_name user.get_username %}</strong>
        {% endblock %}
        {% block userlinks %}
        {% url 'django-admindocs-docroot' as docsroot %}
        {% if docsroot %}
        <a href="{{ docsroot }}">{% trans 'Documentation' %}</a> /
        {% endif %}
        {# language_switcher #}
        {% get_language_info_list for LANGUAGES as languages %} /
        {% for language in languages %}
          {% if not language.code == LANGUAGE_CODE %}
            <form action="{% url 'set_language' %}" method="post" class="language-switch-form">
              {% csrf_token %}
              <input name="next" type="hidden" value="{{ request.get_full_path }}" />
              <input name="language" type="hidden" value="{{ language.code }}" />
              <a href="#" onclick="this.parentElement.submit(); return false;">{{ language.name_local }}</a>
            </form> /
          {% endif %}
        {% endfor %}
        {# end language_switcher #}
        {% if user.has_usable_password %}
        <a href="{% url 'admin:password_change' %}">{% trans 'Change password' %}</a> /
        {% endif %}
        <a href="{% url 'admin:logout' %}">{% trans 'Log out' %}</a>
        {% endblock %}
      </div>
      {% endif %}
      {% block nav-global %}{% endblock %}
    </div>
    <!-- END Header -->
    {% block breadcrumbs %}
    <div class="breadcrumbs">
      <a href="{% url 'admin:index' %}">{% trans 'Home' %}</a>
      {% if title %} &rsaquo; {{ title }}{% endif %}
    </div>
    {% endblock %}
    {% endif %}

    {% block messages %}
    {% if messages %}
    <ul class="messagelist">{% for message in messages %}
      <li{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message|capfirst }}</li>
      {% endfor %}</ul>
      {% endif %}
      {% endblock messages %}

      <!-- Content -->
      <div id="content" class="{% block coltype %}colM{% endblock %}">
        {% block pretitle %}{% endblock %}
        {% block content_title %}{% if title %}<h1>{{ title }}</h1>{% endif %}{% endblock %}
        {% block content %}
        {% block object-tools %}{% endblock %}
        {{ content }}
        {% endblock %}
        {% block sidebar %}{% endblock %}
        <br class="clear" />
      </div>
      <!-- END Content -->

      {% block footer %}<div id="footer"></div>{% endblock %}
    </div>
    <!-- END Container -->

  </body>
  </html>
